{% extends 'base.html' %}

{% block content %}
    
    <h2>Chat</h2>
    
    <div class="col-md-12">

      <div id="inbox" class="col-md-12" style="width:100%;border:1px solid lightgrey;height:500px;border-bottom: none;overflow-y: scroll;">
        {% for message in messages %}
          {% include "message.html" %}
        {% endfor %}
      </div>
    <div style="clear:both"></div>
      <div id="input" >
        <form action="/tracker/a/message/new" method="post" id="messageform">
            {% csrf_token %}
            <div class="input-group">
                <input name="body" id="message" class="form-control"/>
                <span class="input-group-btn">
                  <input type="submit" value="{{ _("Post") }}" class="btn btn-primary"/>
                </span>
            </div>
               
                    
            <input type="hidden" name="next" value="{{ request.path }}"/>
        </form>
      </div>


    </div>
    
{% endblock %}