{% extends 'base.html' %}
{% load common_tags %}
{% block content %}
    
    <div class="panel panel-primary ">
        
        <div class="panel-heading">
            <h3 class="panel-title">Inscription</h3>
        </div>
        
        <div class="panel-body">
            
            {% for err in form.non_field_errors %}
                <div class="alert alert-danger">{{ err }}</div>
            {% endfor %}
            
            <form action="{{form.action}}" method="post" role="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        <label for="{{ field.name }}" class="control-label">
                            {{ field.label }}
                        </label>
                        {{ field|addattr:"class:form-control" }}
                        {% for error in field.errors %}
                                <span class="form-error control-label">{{ error }}</span>
                        {% endfor %}
                    </div>    
                {% endfor %}
                <input type="submit" value="Valider" class="btn btn-primary"/>
                <a href="{% url 'login' %}" class="btn btn-info">Retour</a>
            </form>
        </div>
    </div>    
{% endblock %}