{% load staticfiles %}
<html>
    <head>
        <title>Bugtracker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    </head>
    
    <body>
        
        {% if not request.user.is_anonymous %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">My_webchat</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout/">Déconnexion</a></li>
                        </ul>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
        </nav>
        {% endif %}
        
        <div class="row">
            {% for message in messages %}
               <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="container main">
           {% block content %}
        
           {% endblock %}
        </div>
    </body>
</html>